<h1>Welcome to Avant LOC</h1>

<p>Here at Avant LOC, we provide a means to get a line of credit.</p>

<div><a href='/users/sign_up' class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'>Use Our Easy Sign Up</a></div>